@mixin triangle($size,$margin){
  &:after{
    content: '';
    display: inline-block;
    height: $size;
    margin-left: $margin;
    width: $size;
    background-image: url('images/triangle.svg');
  }
}