/*--------------------------------------------------------------
- Fonts Web
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Hind+Guntur:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Cinzel');

@mixin hind($size: inherit){
  font-family: 'Hind Guntur', sans-serif;
  font-size: $size;
  font-weight: 400;
}
@mixin hindMedium($size: inherit){
  font-family: 'Hind Guntur', sans-serif;
  font-size: $size;
  font-weight: 500;
}
@mixin hindSemiBold($size: inherit){
  font-family: 'Hind Guntur', sans-serif;
  font-size: $size;
  font-weight: 600;
}
@mixin hindBold($size: inherit){
  font-family: 'Hind Guntur', sans-serif;
  font-size: $size;
  font-weight: 700;
}
@mixin lato($size: inherit){
  font-family: 'Lato', sans-serif;
  font-size: $size;
  font-weight: 400;
}
@mixin latoThin($size: inherit){
  font-family: 'Lato', sans-serif;
  font-size: $size;
  font-weight: 300;
}
@mixin latoBold($size: inherit){
  font-family: 'Lato', sans-serif;
  font-size: $size;
  font-weight: 700;
}
@mixin arimo($size: inherit){
  font-family: 'Arimo', sans-serif;
  font-size: $size;
  font-weight: 400;
}
@mixin arimoBold($size: inherit){
  font-family: 'Arimo', sans-serif;
  font-size: $size;
  font-weight: 700;
}
@mixin cinzel($size: inherit){
  font-family: 'Cinzel', serif;
  font-size: $size;
}
