body {
  font-family: 'Lato', sans-serif; 
  font-size: 14px;
  overflow-x: hidden;
}
p{ font-size: 18px;}
a:focus, button:focus { outline: none!important}


#fp-nav ul li .fp-tooltip { color:#999}
#fp-nav ul li a span, 
.fp-slidesNav ul li a span{background: #9e9475;}
.float-menu{
  position: absolute;
  div.sub-menu {
    background: #000;
    display: none;
    font-size: 1.5em; 
    font-weight: 300;
    margin: 0;
    opacity: 0;
    padding: 10px 0px 10px;
    right: 0px;
    text-align: left;
    top: 0px;
    transition: opacity 0.25s ease;
    width: 50vw;
    ul.sub-menu{
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
      &>li {
        border-bottom: 1px solid rgba(255,255,255,0.16);
        list-style-type: none;
        padding: 15px 0 15px 0px;
        position: relative;
        text-indent: 120px;
        &:last-child {
          border-bottom: none;
        }
        &.has-child{
          &:after{
            content: '-';
            color: #fff;
            cursor: pointer;
            @include hind(36px);
            position: absolute;
            right: 110px;
            top: 17px;
          }
          &.collapsed{
            &:after{
              content: '+'
            }
          }
        }
        a{
          transition: width .3s;
          display: inline; 
          line-height: 150%;
          @include latoThin(21px);
          text-transform: uppercase;
          &:after {
            content: '';
            display: block;
            margin: auto;
            height: 3px;
            width: 0px;
            background: transparent;
            transition: width .5s ease, background-color .5s ease;
          }
        }
        .nested-menu{
          li{
            list-style: none;
          }
        }
      }
    }
    a { 
      color:#fff;
      text-decoration: none;
    }
    
  }
}
.top-header{
  .close-dimmer{
    display: inline-block;
    transform: translateY(20px);
    transition: none;
    &:hover, &:focus{
      text-decoration: none;
    }
    &:after{
      content: 'Menu';
      font-size: 11px;
      text-transform: uppercase;
    }
    .menu{
      i{
        background-color: #fff;
        display: block;
        height: 2px;
        margin-bottom: 5px;
        margin-left: auto;
        margin-right: auto;
        width: 20px;
      }
    }
  }
  #menu { 
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 3;
  }
  .top {
    padding-top: 20px;
    position: relative;
    .container {
      display: flex;
      align-items: center;
    }
    .logo { 
      justify-self: flex-start;
      width: 184px;
    }
    .otro_menu {
      display: flex;
      flex-grow: 2;
      justify-content: flex-end;
      ul{
        li{
          display: inline-block;
          &:nth-child(2){
            &:after, &:before{
              background: #fff;
              content: '';
              display: inline-block;
              height: 10px;
              width: 1.5px;
            }
          }
          a{
            color: #fff;
            font-family: 'Lato';
            padding: 0 10px;
            &:hover, &.active{
              text-decoration: underline;
            }
          }
          &:last-child{
            a{
              &:hover, &.active{
              text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
  .dimmer{
    height: 35px;
    width: 55px;
  }
  &.static{
    position: absolute;
  }
}
.dimmer-open{
  overflow: hidden;
  .dimmer{
    margin-top: 1px
  }
  .close-menu{
    align-self: flex-end;
    background: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    right: 40px;
    transform: translateY(10px);
    z-index: 10;
    &:after{
      color: #fff;
      content: 'Cerrar';
      font-family: 'Lato';
      font-size: 12px;
      text-transform: uppercase;
    }
    i{
      background-color: #fff;
      display: block;
      height: 2px;
      margin-bottom: 5px;
      margin-left: auto;
      margin-right: auto;
      width: 20px;
      &:nth-child(1){
        transform: rotate(45deg) translateX(5px) translateY(5px);
      }
      &:nth-child(2){
        transform: rotate(-45deg);
      }
    }
  }
  .float-menu {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 20;
    #menu{
      height: 100%;
    }
    div.sub-menu {
      opacity: 1;
      transition: opacity 0.25s ease;
      animation: menu-active-slide 0.25s;
      height: 100vh;
      display: flex;
      overflow: overlay;
      flex-direction: column;
    }
  }
}

@keyframes menu-hover-top-over {
  0% {transform: translateY(0);}
  50% {transform: translateY(8px);}
  100% {transform: translateY(0);}
}
@keyframes menu-hover-bottom-over {
  0% {transform: translateY(0);}
  50% {transform: translateY(-8px);}
  100% {transform: translateY(0);}
}
@keyframes menu-load-state-top {
  0% {transform: translateY(0);}
  50% {transform: translateY(8px);}
  100% {transform: translateY(0);}
}
@keyframes menu-load-state-bottom {
  0% {transform: translateY(0);}
  50% {transform: translateY(-8px);}
  100% {transform: translateY(0);}
}
@keyframes menu-active-slide {
  0% {transform: translateX(-10px);}
  100% {transform: translateX(0);}
}
@keyframes top-rot-in {
  0% {transform: rotate(0deg);transform-origin: left;}
  100% {transform: rotate(45deg);transform-origin: left;}
}
@keyframes bot-rot-in {
  0% {transform: rotate(0deg);transform-origin: left;}
  100% {transform: rotate(-45deg);transform-origin: left;}
}
.banner_ppal { height: 100%}
.banner_ppal h2 { text-align: center; position: absolute; bottom: 20px; width: 100%; left: 0; right: 0; color: #fff; max-width: 560px; margin: 0 auto; font-weight: 700; font-size: 34px;}

#quienes { text-align: center;}
#quienes .cabecera { background: url(../images/linea.jpg) center bottom no-repeat; padding: 20px 0; margin: 0 0 20px}
#quienes .cabecera p { font-size: 20px; }


#prod {
  .mod { 
    display: flex;
    padding-bottom: 200px;
    h2 {
      color: #1a3204;
    }
    .button { 
      border-radius: 0;
      &__cta{
        background-color: #fff;
        color: #867f68;
        border: solid 1px #867f68;
        @include hindBold(20px);
        text-decoration: none;
        padding: 15px 23px 10px; 
        line-height: 1;
        display: inline-block; 
        float: right;
      }
      &:hover{
        background-image: linear-gradient(45deg, #9f9a87 0%,#9f9a87 50%,#878068 51%,#878068 100%);
        color: #fff;
      }
    }
  }
}

#prod .mod .col-md-6 { position: relative}

#footer { 
  background: #000;
  border-top: solid 8px #333; 
  border-bottom: solid 11px #333; 
  padding: 35px 0 0;
  h4, h4 a { 
    font-size: 18px; 
    font-family: 'Lato', sans-serif; 
    color: #fff; 
    font-weight: 400;
  }
  ul { 
    margin: 0; 
    padding: 0;
    li{
     font-family: 'Lato', sans-serif; 
      font-weight: 300; 
      padding: 0 0 0 10px; 
      margin: 0; 
      list-style: none; 
      font-size: 16px;
      a { 
        color:#fff;
        &:hover, &:focus, &:active{
          text-decoration: underline
        }
      }
    }
  }
  form.form-inline { 
    color:#fff; 
    font-size:18px; 
    margin-bottom: 28px;
    margin-top: 32px;
    text-align: center; 
    text-transform: uppercase;
    label {
      @include hindBold(18px)
    }
    input { 
      background: #262626; 
      border: 1px solid rgba(255,255,255,0.1);
      border-radius: 0px; 
      color: #fff; 
      font-family: 'Lato', sans-serif; 
      font-size: 13px;
      font-style: italic; 
      margin: 0 0 0 10px;
      padding-left: 17px; 
      width: 250px; 
    }
  }
  .btn-default { 
    background: #000; 
    border-radius: 0px; 
    border: 1px solid rgba(255,255,255,0.25);
    border-left: transparent;
    color: #fff; 
    @include hindBold(14px);
    height: 34.5px;
    margin: 0 0 0 -5px;
    padding-top: 10px; 
    transform: translateY(-1px);
  }
  .legal { 
    border-top: solid 1px #414040; 
    color: #fff;
    @include lato(13px);
    padding: 22px 0 17px; 
    text-align: center; 
  }
  .logo { width: 136px; margin: 0 auto}
  .redes { 
    text-align: center; 
    padding: 25px 0;
    ul { 
      display: inline-block;
      li { 
        display: inline-block;
        a { background: url(../images/redes_footer.png) no-repeat; width: 31px; height: 31px; display: block;}
        .r1 { background-position: 0px 0px;}
        .r2 { background-position: -41px 0px; }
        .r3 { background-position: right 0px; }
      }
    }
  }
  
}

#portada_int { 
  height: 480px !important; 
  max-height: 480px;
  @include dividerCenter(100px);
}
#portada_int .container { height: 465px; z-index: 999}
#portada_int.time_line { height: 700px !important; max-height: 700px}

.banner_int { 
  height: 480px !important; 
  text-align: center; 
  position: relative; 
  background-position: center top; 
  overflow: hidden;
  .txt { 
    position: absolute;
    bottom: 138px;
    left: 0;
    right: 0; 
    height: initial;
    font-size: 52px;
    font-weight: 700;
    color: #fff;
    h2 { 
      @include hindBold(52px);
      margin: 0;
      text-shadow: 0px 0px 10px #000;
      text-transform: uppercase;
    }
  }
}
#miga {  
  color: #4c4c4c;
  @include lato(16px);
  font-style: italic;
  padding: 30px; 
  a { 
    color: #4c4c4c;
    &:hover{
      text-decoration: underline;
    }
  }
  span {
    color: #9e9475;
  }
}
#equipo {
  @include scrollFigure(-42px);
}
#equipo .container { position: relative;}
#equipo .resena {}
#equipo .resena h2 { font-size: 52px; font-weight: 700; color: #202918;}
#equipo .resena h4 { font-size: 20px; font-weight: 700; color: #202918;background: url(../images/linea.jpg) center bottom no-repeat; padding: 0 0 20px 0; margin: 0 0 20px}
#equipo .resena p { font-size: 18px;}
#equipo .resena p strong { font-weight: 700;}
#equipo .resena .bajada {}

#video {position: absolute;  bottom: 0; top: 0; right: 0; width: 100%; height: 100%;  background-color: black; /*background-image:  our video ;*/ background-position: center center; background-size: contain; object-fit: cover; z-index: 3;} 

#trabaja_nosotros { padding: 100px 0 280px}
.trabaja_nosotros { max-width: 940px; margin: 0 auto; height: 383px; position: relative;}
.trabaja_nosotros .recuadro { 
  position: absolute; 
  bottom: -40%; 
  left: 80px; 
  padding: 45px; 
  text-align: center; 
  background: #f0f0f0;
}
.trabaja_nosotros .recuadro h2 { color: #1a3204; font-size: 42px; font-weight: 900;}
.trabaja_nosotros .recuadro h2 span { font-size: 30px; font-weight: 400;}
.trabaja_nosotros .recuadro p { font-size: 18px;}
.trabaja_nosotros .recuadro a {color: #867f68; border: solid 1px #867f68; padding: 17px 20px 14px; display: inline-block !important; width: initial !important; height: initial !important; }

.volver {
  padding: 150px 0 100px;
  text-align: right;
  a { 
    @include hindBold(20px);
    background: url("../images/ico_volver.png") 25px 54% no-repeat #000; 
    color: #fff; 
    padding: 11px 34px 5px 48px;
  }
}


#oficinas_banner {
  @include dividerCenter(100px, false, true);
  @include dividerCenter(100px, true);
  .txt { 
    height:500px;
    color: #fff;
    padding: 120px 0 0 0;
    h4 {
      @include hind(18px);
    }
    h2 {
      @include hindBold(52px);
    }
    p { 
      @include lato(18px);
      margin: 0 auto; 
      max-width: 660px; 
      padding: 0 0 40px;
      width: 100%; 
    }
    a {
      color: #fff;
      border: solid 1px #fff;
      padding: 17px 20px 14px;
      display: inline-block !important;
      width: initial !important;
      height: initial !important;
      @include hindBold(20px);
    }

  }
}
#detalle_noticia { margin: 0}
#detalle_noticia .bajada { text-align: center; padding: 0 0 40px}
#detalle_noticia p.img { margin: 0 0 20px 20px; text-align: center; font-size: 16px;}
#detalle_noticia p.img img {display: block}
.tit_otras { padding: 40px 0 20px 15px}
.tit_otras span { padding: 5px 35px 0 0; display: inline-block;background: url(../images/bullet.svg) right 0px no-repeat;background-size: 30px;}
.tit_otras span h3 {@include hindBold(42px); display: inline-block; margin: 0; padding: 0; color: #1a3204; line-height: 42px}



.galeria ul { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.galeria ul li { margin: 0 21px 21px 0; padding: 0; list-style: none; float: left;}


#detalle_noticia .galeria .video { width: 100%; max-width: 780px; margin: 0 auto}

#modal_galeria .modal-content h4 {@include hind(32px); color:#1a3204;}
#modal_galeria .modal-header .close:hover { opacity: 1}
#modal_galeria .owl-theme .owl-nav [class*='owl-'] { position: absolute; top: 50%;}
#modal_galeria .owl-theme .owl-nav .owl-prev { left: -50px;}
#modal_galeria .owl-theme .owl-nav .owl-next { right: -50px;}

.mod_planta {}
.mod_planta h2 { text-align: center; background: url('../images/dot-title.gif') left 20px repeat-x;color: #1a3204; @include hindBold(52px);}
.mod_planta h2 span { background: #fff; padding: 0 20px}
.mod_planta .recuadro { 
  width: 100%; 
  max-width: 820px; 
  margin: 40px auto;
  img{
    width: 100%;
  }
}
.mod_planta .recuadro .txt { 
  @include lato(18px); 
  float: left; 
  width: 65%; 
  margin: 0 0 40px; 
  font-size: 18px;
  color: #4c4c4c;
  margin-right: 50px;
}
.mod_planta > img{
  margin: 0 auto;
}
.no-padding{
  &--x{
    padding-left: 0;
    padding-right: 0;
  }
}

.trabaja { margin: 0 0 140px}
.trabaja .cuadro { 
  background-image: linear-gradient(64deg, #e9e8e8 0%, #e9e8e8 41%, #f0f0f0 41%, #f0f0f0 100%);
  bottom: -98px;
  left: 66px;
  padding: 77px 15px 83px;; 
  position: absolute; 
  text-align: center; 
  width: 420px; 
}
.trabaja .cuadro h2 { color: #1a3204; @include hindBold(52px);}
.trabaja .cuadro h2 span { display: block; @include hind(32px);}
.trabaja .cuadro p { 
  font-weight: 400; 
  color: #4c4c4c; 
  padding: 0 0 20px
}
.trabaja .cuadro a {
  padding-bottom: 10px;
}

.trabaja { min-height: 500px; padding: 0;}
.trabaja .container { height:500px; position: relative;}

#campos .tit.como span {  padding: 0 36px 0 0; display: inline-block;background: url(../images/bullet.svg) right 23px no-repeat;background-size: 26px; margin: 0 0 20px}
#campos .tit.como span h3 { font-size: 28px; color: #1a3204;}

p.data { background: url(../images/diagonal_2.svg) left bottom no-repeat #f0f0f0; padding: 40px 0 !important; max-width: 780px; margin: 0 auto 20px; }

.mod_cuadro .cuadro.agua { width: 540px; right: -320px; background: url(../images/diagonal_noticias.svg) left bottom no-repeat #f0f0f0;}

.mod_cuadro.right .cuadro.agua { left: -320px}

a.ir_portal {color: #ffffff; border: solid 1px #ffffff;@include hindBold(20px); padding: 12px 14px 6px; display: inline-block !important; width: initial !important; height: initial !important; font-weight: 700;}


.cuadros { max-width: 820px; margin: 0 auto 70px}
.cuadros .mod_cuadros { margin: 0 0 30px}
.cuadros .mod_cuadros .img { width: 139px; float: left;}
.cuadros .mod_cuadros .txt { float:left; padding: 0 0 0 20px; width: 681px; position: relative;}
.cuadros .mod_cuadros .txt .centrado { display: table; vertical-align: middle; height: 118px; width: 100%;}
.cuadros .mod_cuadros .txt .centrado .texto {vertical-align:middle; display: table-cell;}
.cuadros .mod_cuadros .txt .centrado .texto p { padding: 0!important}

#productores_mod { text-align: center; }
#productores_mod a.link {
  background-image: linear-gradient(45deg, #fff 0%, #fff 50%, #fff 52%, #fff 100%);
  color: #867f68;
  border: solid 2px #867f68;
  padding: 17px 20px 13px;
  display: inline-block !important;
  width: initial !important;
  height: initial !important;
  @include hindBold(20px);
  transition: background-image .3s ease-in;
  &:hover{
    background-image: linear-gradient(45deg, #9f9a87 0%, #9f9a87 50%, #878068 52%, #878068 100%);
    color:#fff;
    padding: 19px 22px 15px;
    border: 0;
  }
}
#productores_mod .container { position: relative; padding: 40px 15px 80px}
#productores_mod a.acceso { 
  background: url('../images/bg_link_prov.png') left top no-repeat; 
  border: 1px solid #fff;
  color: #fff;
  height: 75px; 
  line-height: 75px; 
  position: fixed;   
  right: 0;
  bottom: 0; 
  width: 378px; 
  z-index: 2;
  &:hover{
    text-decoration: underline;
  }
}
.items_mod { max-width: 990px; margin: 0 auto; padding: 0 0 100px}
.items_mod .modulo { position: relative}
.items_mod .modulo h3 { position:absolute; top: 40px; text-align: center; padding: 0 40px; @include hindBold(28px); color: #fff;}
.items_mod .modulo:first-child h3 { top:30px}


.cuadros span.tit2 {padding: 5px 35px 0 0; display: inline-block;background: url(../images/bullet.svg) right 6px no-repeat;background-size: 19px; margin:40px 0}
.cuadros span.tit2 h3 {@include hindBold(28px); display: inline; margin: 0; padding: 0; color: #1a3204; line-height: 28px}

.cuadros .mod_cuadros .txt .centrado .texto span {padding: 5px 35px 0 0; display: inline-block;background: url(../images/bullet.svg) right 6px no-repeat;background-size: 19px;}
.cuadros .mod_cuadros .txt .centrado .texto span h4 {@include hindBold(24px); display: inline; margin: 0; padding: 0; color: #1a3204;}
.cuadros .mod_cuadros .txt .centrado .texto p { font-size: 16px}


#carousel-ppal {}
#carousel-ppal .owl-dots { 
  background-image: url('../images/line-pattern.gif');
  background-repeat: repeat-y;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100px;
  right: 32px;
  height: calc(100% - 40px);
  .owl-dot:nth-child(1) {
    margin-top: -170px;
  }
}
#carousel-ppal .owl-dots .owl-dot { 
  background-color: #fff;
  border: 2px solid transparent;
  border-radius: 50%;
  display: block;
  height: 9px;
  margin-bottom: 10px;
  padding: 0;
  width: 9px;
  &.active{
    background-color: #9e9475;
    border-color: #9e9475;
    height: 11px;
    width: 11px;
  }
}




#trabaja_nosotros.mod { padding: 0}

#trabaja_nosotros .formulario .etapa { text-align: center; padding: 60px 0 40px;}

#trabaja_nosotros span.tit {  padding: 0 36px 0 0; display: inline-block;background: url(../images/bullet2.svg) right 18px no-repeat;background-size: 26px; margin: 0 0 20px}
#trabaja_nosotros span.tit h3 { font-size: 20px; color: #9e9475;}

#trabaja_nosotros span.tit.activo {  padding: 0 36px 0 0; display: inline-block;background: url(../images/bullet.svg) right 13px no-repeat;background-size: 26px; margin: 0 0 20px}
#trabaja_nosotros span.tit.activo h3 { @include hindBold();}



#trabaja_nosotros .formulario { max-width: 940px; margin: 100px auto 0; background: #f0f0f0; padding: 40px 80px}
#trabaja_nosotros .form-group { height: 60px;}
#trabaja_nosotros input, 
#trabaja_nosotros select { background: #e4e2de}


#trabaja_nosotros .peque { font-size: 12px; margin: 20px 0 30px 15px}
#trabaja_nosotros .btn { background:none; border:solid 1px #867f68; border-radius:0px; color: #867f68; font-size: 18px;margin: 20px 15px 0 0;}
#trabaja_nosotros h4 {@include hindBold(24px);font-weight: 900;}
#trabaja_nosotros h4 span { display:inline-block; background: url(../images/efecto_h4.png) right top no-repeat; padding: 3px 30px 0 0}
#trabaja_nosotros p strong { font-weight: 700;}
#trabaja_nosotros .oficinas p { background: url(../images/ico_bull.png) left 7px no-repeat; padding: 0 0 0 15px;}

#trabaja_nosotros label { color:#4c4c4c;}


#trabaja_nosotros .formulario form .form-control{}
#trabaja_nosotros .formulario form .form-control::placeholder { color:#9e9475 }
#trabaja_nosotros .formulario form .form-control:-ms-input-placeholder { color:#9e9475 }
#trabaja_nosotros .formulario form .form-control::-ms-input-placeholder { color:#9e9475 }

#trabaja_nosotros .formulario form .form-control.error{border:solid 2px #1f3608;}
#trabaja_nosotros .formulario form .form-control.error::placeholder { color:#1f3608 }
#trabaja_nosotros .formulario form .form-control.error:-ms-input-placeholder { color:#1f3608 }
#trabaja_nosotros .formulario form .form-control.error::-ms-input-placeholder { color:#1f3608 }



#trabaja_nosotros .formulario .exito { background:url(../images/ico_exito.png) center top no-repeat; padding: 90px 0 0 0; margin:100px 0}
#trabaja_nosotros .formulario .error_envio { background:url(../images/ico_error_envio.png) center top no-repeat; padding: 90px 0 0 0; margin:100px 0}
#trabaja_nosotros .formulario .error_envio a {background:none; border:solid 1px #867f68; border-radius:0px; color: #867f68; font-size: 18px; display: block; max-width: 150px; margin: 10px auto; width: 100%; padding:12px 0 8px}

.mod_certi {
  .txt { 
    float: left; 
    position: relative;
    width: 75%;
    span {
      padding: 5px 35px 0 0; 
      display: inline;
      background: url('../images/bullet.svg') right bottom no-repeat;
      background-size: 19px;
      h3 {
        @include hindBold(24px);
        display: inline;
        margin: 0;
        padding: 0;
        color: #1a3204;
        line-height: 24px;
      }
    }
    p{
      @include lato(18px);
      color: #4c4c4c;
    }
    .centrado{ 
      display: table; 
      min-height: 220px; 
      vertical-align: middle; 
      width: 100%;
      .texto {
        display: table-cell;
        vertical-align:middle;
      }
    }
  }
  .img {
    float: left;
    padding: 0 20px 0 0;
    width: 25%;
    &.pull-right { 
      text-align: right;
      padding: 0 0 0 20px
    }
  }
}


.anclas { color: #9e9475; padding: 40px 0}
.anclas a { margin: 0 15px; color: #9e9475;@include hindMedium(20px); text-decoration: none;}
.anclas a:hover {@include hindBold();}


.mod_cuadro .cuadro.prod_detalle { text-align: left;}
.mod_cuadro .cuadro.prod_detalle h2 { text-align: center}
.mod_cuadro .cuadro.prod_detalle ul { margin: 0; padding: 0 0 0 50px; }
.mod_cuadro .cuadro.prod_detalle ul li { margin: 0; padding: 0; width: 50%; float: left; font-size: 18px}

.tit_center { color:#202918; text-align: center; @include hindBold(38px); margin: 30px 0; text-transform: uppercase}



html,
body,
#timeline {
  height: 100%;
}

.title {
  font-size: 38px;
  color: #616161;
  font-style: italic;
  font-weight: 800;
}

// FIXES
.top-header{
  .top.float{
    background-color: rgba(255,255,255,0.8);
    box-shadow: 1px -2px 11px rgba(0,0,0,0.2);
    padding-bottom: 20px;
    svg path{
      fill: #000;
      &.green_1{
        fill: #80ba27;
      }
      &.green_2{
        fill: #007c32;
      }
      &.red_g{
        fill: #e53328;
      }
    }
    .otro_menu{
      ul{
        li{
          a{
            color: #000;
          }
          &:nth-child(2){
            &:after, &:before{
              background-color: #000;
            }
          }
        }
      }
    }
    .close-dimmer{
      .menu{
        i{
          background-color: #000;
        }
      }
    }
  }
}
.dimmer-open{
  .top-header{
    z-index: 10;
    .top.float{
      .close-dimmer{
        .menu{
          i{
            background-color: #fff;
          }
        }
        &:after{
          color: #fff;
        }
      }
    }
  }
}
.section{
  position: relative;
  &#quienes {
    @include scrollFigure();
    padding: 170px 0;
    position: relative;
    @include sectionSeparator();
  }
  &#proceso{
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 500px; 
    justify-content: center;
    margin-bottom: 242px;
    position: relative;
    text-align: center;
    h4{
      @include hind(24px)
    }
    h2{
      @include hindBold(52px)
    }
    p { 
      @include lato(18px);
      max-width: 580px;
      margin: auto;
    }
    .link__cta { 
      color: #fff; 
      @include hindBold(19px);
      border: solid 1px #fff; 
      padding: 17px 20px 14px; 
      display: inline!important; 
      background: rgba(7,7,7,0.5);
      position: relative;
      top: 50px;
    }
    &:after,&:before{
      content: '';
    }
    @include sectionSeparator(-45px);
  }
  .cabecera{
    color: #000;
    h3{
      @include hindBold(30px);
      text-transform: uppercase;
    }
    h2{
      @include hind(52px);
      strong{
        @include hindBold(52px);
      }
      @include triangle(36px,12px);
    }
    p{}
  }
  .mod{
    position: relative;
    h2{
      @include triangle(27px, 9px);
      @include hindBold(42px);
    }
    h4{
      @include latoBold(24px);
    }
    &:after{
      content: '';
      background-color: #9e9475;
      bottom: 55px;
      height: 82px;
      left: calc(50% - .5px);
      position: absolute;
      width: 1px;
      z-index: 2;
    }
    &:last-child{
      &:after{
        bottom: -40px;
      }
    }
  }
  .cherry-pack{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    position: relative;
    top: 50px;
    clear: both;
    height: 186px;
    left: -100px;
    &__item{
      position: absolute;
      &--1{
        z-index: 2;
      }
      &--2{
        z-index: 3;
      }
      &--3{
        z-index: 1;
      }
    }
  }
  &--withShadow{
    &:before{
      background-image: linear-gradient(138deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 42%, rgba(0,0,0,0) 42%, rgba(0,0,0,0) 100%);
      content: '';
      display: block;
      height: 50%;
      max-width: 405px;
      max-height: 360px;
      opacity: .5;
      pointer-events: none;
      position: absolute;
      width: 50%;
      @include respond-to(maxMobile){
        width: 80%;
      }
    }
  }
  &-title{
    background: url('../images/linea.jpg') center bottom no-repeat;
    padding: 67px 0 19px;
    text-align: center; 
    &__title{
      color: #202918;
      display: inline-block; 
      @include hindBold(52px);
      @include triangle(36px, 11px);
      margin: 0; 
      margin-right: -36px;
      padding: 0;
      text-transform: uppercase;
    }
    &__subtitle{
      @include hindMedium(20px);
      margin: 0;
      text-transform: uppercase;
    }
  }
}
#campos {
  padding: 0 0 100px 0;
  @include scrollFigure(-42px);
  .tit { 
    padding: 40px 0 25px; 
    margin: 0 0 90px;
  }
}
.carousel{
  &__item{
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  &__title{
    color: #fff;
    bottom: 90px;
    @include hindBold(36px);
    position: absolute;
    text-align: center;
    text-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    width: 50vw;
  }
}

.text-block{
  @include lato();
  &--medium{
    font-size: 18px;
  }
  &--grey{
    color: #4c4c4c;
  }
}
#footer{
  .row{
    .col-md-4:nth-child(1){
      margin-bottom: 30px;
    }
  }
}
#main{
  display: flex;
  flex-direction: column;
}
.lang-selector{
  display: inline-block;
  margin: auto;
  width: fit-content;
  &:before{
    content: '';
  }
  a{
    color: #fff;
    @include lato(16px);
    text-decoration: none;
  }
}
.searchbox{
  display: flex;
  align-items: center;
  padding: 0 120px; 
  &__field{
    border: 1px solid #626262;
    background-color: #3a3a3a;
    color: #fff;
    min-width: 230px;
    padding: 18px 21px;
    @include lato(16px);
    &:focus{
      outline: none;
    }
  }
  .icon{
    &--glass{
      background-color: transparent;
      background-image: url('../images/glass.png');
      border: none;
      height: 29px;
      margin-left: 12px;
      width: 29px;
    }
  }
}
.separate-top-350{
  @include respond-to(minTablet){
    margin-top: 250px;
  }
}
.separate-top-250{
  @include respond-to(minTablet){
    padding-top: 20px;
  }
}
.separate-top-100{
  margin-top: 50px;
  @include respond-to(minTablet){
    margin-top: 100px;
  }
}
.separate-top-30{
  margin-top: 15px;
  @include respond-to(minTablet){
    margin-top: 30px;
  }
}
.separate-bottom-30{
  margin-bottom: 15px;
  @include respond-to(minTablet){
    margin-bottom: 30px;
  }
}
.separate-top-60{
  margin-top: 30px;
  @include respond-to(minTablet){
    margin-top: 60px;
  }
}
.separate-bottom-60{
  margin-bottom: 30px;
  @include respond-to(minTablet){
    margin-bottom: 60px;
  }
}
.divider{
  display: flex;
  justify-content: center;
  &:after{
    background: #9e9475;
    content: '';
    display: block;
    height: 83px;
    width: 1px;
  }
}
.image{
  &__link{
    &--main{
      &:after{
        opacity: 0;
        transition: all .3s ease-out;
        content: '';
      }
      &:hover{
        display: block;
        height: fit-content;
        position: relative;
        &:after{
          display: block;
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
        }
      }
      &.from-left{
        &:hover{
          &:after{
            @include diagonalShadow();
          }
        }
      }
      &.from-right{
        &:hover{
          &:after{
            @include diagonalShadow(right);
          }
        }
      }
    }
  }
}
.withSeparators{
  @include dividerCenter(100px, false, true);
  @include dividerCenter(100px, true);
}
.withScroller{
  @include scrollFigure(-42px);
}
.owl-buttons__container{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 1;
}
.carousel-home__wrapper{
  position: relative;
  display: flex;
  justify-content: center;
  @include dividerCenter(100px, false, true);
  &:after{
    z-index: 2;
  }
}

.related_news{
  color: #1a3204;
  @include triangle(27px, 13px);
  @include hindBold(42px);
  margin: 0;
  padding: 110px 15px 42px;
}
.modal.fade{
  background-color: rgba(0,0,0,0.8);
  .close{
    position: absolute;
    top: 15px;
    right: 15px;
    opacity: 1;
  }
  .owl-prev,.owl-next{
    height: 30px;
    width: 16px;
    &:hover{
      background: transparent;
    }
    i{
      display: block;
      width: 18px;
      height: 2px;
      background-color: #1a3204;
      &:nth-child(1){
        transform: rotate(45deg) translate(-7px, -8px);
      }
      &:nth-child(2){
        transform: rotate(-45deg);
      }
    }
  }
  .owl-prev{
    transform: rotate(180deg) translateY(11px);
  }
  .modal-content{
    display: flex;
    flex-direction: column;
    padding: 50px 70px 30px;
    border-radius: 0;
  }
  .logos{
    align-self: flex-end;
    margin-top: 3px;
  }
}
.related-item{
  &__title{
    @include triangle(19px, 0px);
  }
  &__text{
    color: #333;
    @include lato(18px);
    margin-bottom: 15px;
    margin-top: 19px;
    padding: 0;
  }
  &__readMore{
    color: #9e9475;
    @include latoBold(18px);
    font-style: italic;
    &:hover{
      color: inherit;
      text-decoration: underline;
    }
  }
}
.certificates{
  .certificate{
    align-items: center;
    display: flex;
    margin-bottom: 40px;
    &__body{
      margin-left: 18px;
    }
    &__image{
      img{
        display: block;
        height: 100%;
        width: auto;
      }
    }
    &__title{
      color: #202918;
      @include hindBold(28px);
      @include triangle(23px,8px);
      text-transform: uppercase;
    }
    &__text{
      color: #4c4c4c;
      @include lato(18px);
    }
    &:nth-child(even){
      flex-direction: row-reverse;
      text-align: right;
      .certificate__body{
        margin-left: 0;
        margin-right: 18px;
      }
    }
  }
}
.cta{
  &__subtitle{
    color: #fff;
    @include hind(18px);
    margin: 0;
    text-transform: uppercase;
  }
  &__title{
    color: #fff;
    @include hindBold(52px);
    margin: 0;
    text-transform: uppercase;
  }
  &__text{
    color: #fff;
    @include lato(18px);
    margin: auto;
    max-width: 575px;
    strong{
      @include latoBold();
    }
  }
  &__button{
    background-color: rgba(0, 0, 0, 0.48);
    border: 2px solid #fff;
    color: #fff;
    @include hindBold(20px);
    margin-top: 30px;
    padding: 15px 19px;

    display: inline-block !important;
    width: initial !important;
    &:hover{
      color: #fff;
      background-color: rgba(0, 0, 0, 0.8);
    }
    &--static{
      margin-top: 0;
    }
    &--image-comp{
      color: #867f68;
      background: transparent;
      border-color: #867f68;
      padding-bottom: 10px;
      &:hover{
        background-image: linear-gradient(45deg, #9f9a87 0%, #9f9a87 50%, #878068 52%, #878068 100%);
        color: #fff;
        background-color: #878068;
        border-color: transparent;
        border-width: 0;
        padding: 17px 21px 12px;
      }
    }
    &--go-fields{
      background: transparent;
      border-color: #867f68;
      color: #867f68;
      margin-left: 30px;
      margin-top: 10px;
      padding-bottom: 10px;
      &:hover{
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
    &--top-bar{
      background-color: rgba(0,0,0,0.45);
      border-color: #dbdacf;
      color: #dbdacf;
      padding-bottom: 10px;
      text-transform: uppercase;
    }
  }

  &--history{
    padding: 160px 0 100px;
    text-align: center;
  }
  &--ofices{
    padding: 160px 0 100px;
    text-align: center;
    .cta__text{
      max-width: 675px
    }
  }
}

.formulario{
  background: #f0f0f0;
  font-size: 18px;
  margin: 100px 0;  
  padding: 40px 50px 29px;
  .intro-text{
    color: #4c4c4c;
    @include lato(18px);
    margin-bottom: 35px;
  }
  .oficinas{
    &__title{
      color: #1a3204;
      @include hindBold(28px);
      @include triangle(23px,5px);
    }
    &__img{
      margin-bottom: 20px;
    }
    &__item{
      color: #4c4c4c;
      @include lato(16px);
      margin-left: 12px;
      position: relative;
      strong{
        @include latoBold();
      }
      &:before{
        background-color: #9e9475;
        border-radius: 50%;
        content: '';
        display: block;
        height: 7px;
        left: -10px;
        position: absolute;
        top: 8px;
        width: 7px;
      }
    }
  }
  &__wrapper{
    display: flex;
  }
  &__section{
    padding-top: 26px;
    padding-bottom: 26px;
    &:nth-child(2){
      border-left: 1px solid #c7c2b2;;
      padding-left: 40px;
    }
  }
  &__label{
    color: #4c4c4c;
    display: flex;
    @include lato(18px);
    position: relative;
    &:before{
      background-color: #9e9475;
      border-radius: 50%;
      content: '';
      display: block;
      height: 7px;
      left: -11px;
      position: absolute;
      top: 10px;
      width: 7px;
    }
    &:after{
      content: ':';
      justify-self: flex-end;
      align-self: flex-end;
    }
  }
  .form-group {
    margin: 0 0 26px;
  }
  .help-block {
    margin-bottom: 12px;
    margin-top: -12px;
  }
  .formulario__button{
    background-color: transparent;
    border: 2px solid transparent;
    @include hindBold(20px);
    padding: 18px 22px 11px;
    &--submit{
      color: #867f68;
      border-color: #867f68;
      &:hover{
        background-image: linear-gradient(45deg, #9f9a87 0%, #9f9a87 50%, #878068 52%, #878068 100%);
        color: #fff;
      }
    }
  }
}
.team{
  &__container{
    margin-bottom: 120px;
  }
  &__item{
    align-items: center;
    display: flex;
    margin-bottom: 30px;
    &--main{
      &:nth-child(even){
        flex-direction: row-reverse;
        text-align: right;
        .item__data--main{
          display: flex;
          flex-direction: column;
          .item__description{
            align-self: flex-end;
          }
        }
      }
    }
    .item{
      &__data{
        &--main{
          .item__title{
            @include triangle(23px, 9px);
            font-size: 36px;
          }
          .item__position{
            font-size: 24px;
          }
          .item__description{
            margin-top: 17px;
          }
        }
      }
      &__title{
        color: #1a3204;
        @include hindBold(22px);
        @include triangle(19px, 5px);
        margin: 0;
      }
      &__position{
        color: #1a3204;
        @include hind(20px);
        border-bottom: 1px solid #9e9475;
        margin: 0;
        padding: 0 0 10px;
      }
      &__description{
        margin-top: 9px;
      }
    }
  }
}
.flex-container{
  display: flex;
  flex-direction: column;
  &--row{
    flex-direction: row;
  }
  &--wrap{
    flex-wrap: wrap;
  }
  &--two-sides{
    justify-content: space-between;
    align-items: center;
  }
}
.image-compound{
  margin-bottom: 230px;
  &:nth-child(even){
    align-self: flex-end;
    .image-compound__image-container{
      padding-right: 0;
      padding-left: 76px;
    }
    .image-compound__textbox{
      right: auto;
      left: -12vw;
    }
  }
  &__image-container{
    padding-top: 72px;
    padding-bottom: 72px;
    padding-right: 76px;
  }
  .imgLiquid{
    .image-compound__image{
      img{
        display: block;
        visibility: visible;
        width: 100%;
      }
    }
  }
  &__wrapper{
    position: relative;
  }
  &__textbox{
    background-image: linear-gradient(64deg, #e9e8e8 0%, #e9e8e8 41%, #f0f0f0 41%, #f0f0f0 100%);
    display: block;
    padding: 79px 29px;
    position: absolute;
    right: -12vw;
    text-align: center;
    top: 35%;
    z-index: 1;
    h2{
      color: #1a3204;
      margin: 0 0 30px 0;
      @include hind(32px);
      text-align: center;
      text-transform: uppercase;
      span{
        display: block;
        @include hindBold(52px);
      }
    }
    p{
      color: #4c4c4c;
      @include lato(18px);
      text-align: center;
    }
  }
  &[class*="col"]{
    padding-left: 0;
    padding-right: 0;
  }
  &--no-bg{
    .image-compound__textbox{
      right: 5vw;
    }
    &:nth-child(2){
      .image-compound__image{
        float: right;
      }
      .image-compound__textbox {
        left: 8vw !important;
      }
    }
    .image-compound__image-container{
      &:after{
        clear: both;
        content: '';
        display: table;
      }
    }
    &:last-child{
      margin-bottom: 65px;
    }
    
  }
}

#contacto {
  @include scrollFigure(-42px);
}
#contacto .container { position: relative; height: 100%;}
#contacto .mod { background: url(../images/linea_media.jpg) center top repeat-y; margin: 20px 0}

#contacto .formulario form label { padding: 0;}
#contacto .formulario form .form-control { border-radius: 0px; background: #e4e2de; border:solid 1px #9e9475;}

.form-horizontal .control-label { text-align: left;}
#contacto .peque { font-size: 12px;}
#contacto .btn { background:none; border:solid 1px #867f68; border-radius:0px; color: #867f68; font-size: 18px;}
#contacto h4 {@include hindBold(24px);}
#contacto h4 span { display:inline-block; background: url(../images/efecto_h4.png) right center no-repeat; padding: 3px 30px 0 0}
#contacto p strong { font-weight: 700;}
#contacto .oficinas p { background: url(../images/ico_bull.png) left 7px no-repeat; padding: 0 0 0 15px;}

#contacto .formulario form .form-control.error{border:solid 2px #1f3608;}
#contacto .formulario form .form-control.error::placeholder { color:#1f3608 }
#contacto .formulario form .form-control.error:-ms-input-placeholder { color:#1f3608 }
#contacto .formulario form .form-control.error::-ms-input-placeholder { color:#1f3608 }

#contacto .formulario .exito { background:url(../images/ico_exito.png) center top no-repeat; padding: 90px 0 0 0; margin:100px 0}
#contacto .formulario .error_envio { background:url(../images/ico_error_envio.png) center top no-repeat; padding: 90px 0 0 0; margin:100px 0}
#contacto .formulario .error_envio a {background:none; border:solid 1px #867f68; border-radius:0px; color: #867f68; font-size: 18px; display: block; max-width: 150px; margin: 10px auto; width: 100%; padding:12px 0 8px}

.intern-nav{
  display: flex;
  flex-direction: column;
  margin-bottom: 90px;
  padding-bottom: 10px;
  padding-top: 20px;
  &__wrapper{
    align-self: center;
    display: flex;
    justify-content: space-between;
    padding: 0;
    max-width: fit-content;
  }
  &__text,&__link{
    color: #9e9475;
    @include hind(20px);
    text-transform: uppercase;
    &--active{
      font-weight: 700;
    }
  }
  &__link{
    &:hover,&:focus{
      color: #9e9475;
      font-weight: 700;
      text-decoration: none;
    }
  }
  &__item{
    border-left: 1px solid #9e9475;
    list-style: none;
    padding: 0 13px;
    text-align: center;
    &:first-child{
      border-left: 0;
    }
    &--bullet{
      @include triangle(19px, 10px, true);
      &.active{
        @include triangle(19px, 10px);
        .intern-nav__link, .intern-nav__text {
          font-weight: 700;
        }
      }
    }
  }
  
}

.career{
  background-color: #f0f0f0;
  margin-top: 78px;
  padding: 45px 80px;
  margin-bottom: 225px;
  .form-inline{
    .form-group{
      label{
        color: #4c4c4c;
        display: block;
        @include lato(18px);
      }
      input, select, textarea{
        background-color: #e4e2de;
        border: 1px solid #c8c3b4;
        border-radius: 0;
        box-shadow: none;
        color: #9e9475;
        @include lato(12px);
      }
      select{
        height: 34px;
        padding: 6px 12px;
      }
      &>select{
        min-width: 250px;
      }
    }
    .cta__button{
      margin-top: 0;
    }
    .disclaimer-text{
      color: #4c4c4c;
      @include lato(12px);
      text-indent: 20px;
    }
  }
  .intro-text{
    color: #4c4c4c;
    @include lato(18px);
    margin: 0 0 22px;
    text-align: center;
  }
  .intern-nav{
    margin-bottom: 40px;
  }
  &__message{
    margin-top: 30px;
    text-align: center;
    .message__icon{
      background-image: url('../images/ico_exito.png');
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      height: 58px;
      width: 58px;
    }
    &--error{
      .message__icon{
        background-image: url('../images/ico_error_envio.png');
      }
    }
    .message__text{
      color: #867f68;
      @include latoBold(18px);
      margin-top: 18px;
    }
  }
}
.form-cols{
  &--two{
    .form-group{
      padding: 0 18px 18px;
      width: 50%;
      input{
        width: 100%;
      }
    }
  }
  &--bullets{
    .form-group{
      position: relative;
      &:before{
        background-color: #9e9475;
        border-radius: 50%;
        content: '';
        display: block;
        height: 7px;
        left: 0;
        position: absolute;
        top: 9px;
        width: 7px;
      }
    }
  }
}
.date-selector{
  display: flex;
  &__item{
    margin-right: 8px;
    &:last-child{
      margin-right: 0;
    }
  }
}

.products{
  margin-bottom: 200px;
  &__item{
    display: flex;
    &:focus{
      outline: 0;
    }
    .item{
      &__wrapper{
        padding: 100px 50px 100px 0;
        width: 50%;
      }
      &__description{
        align-self: center;
        display: flex;
        flex-direction: column;
        transform: translateY(-50%);
        width: 40%;
        .cta__button{
          align-self: flex-end;
          &:focus,&:active{
            color: #867f68;
            text-decoration: none;
          }
        }
      }
      &__title{
        color: #1a3204;
        @include itemTitle(42px, 27px, 9px);
      }
      &__subtitle{
        color: #1a3204;
        @include latoBold(24px);
        margin: 0;
      }
      &__information{
        color: #4c4c4c;
        @include lato(18px);
        margin-top: 20px;
      }
    }
    .image_front{}
  }
  article.products__item{
    &:nth-of-type(even){
      flex-direction: row-reverse;
      .item__description{
        padding-right: 30px;
      }
      .item__wrapper{
        padding: 100px 0px 100px 50px;
      }
      .image_front{
        float: right;
      }
    }
  }
  .divider{
    margin: 80px auto;
  }
}
.imgLiquid{
  .image_front{
    img{
      display: block;
      visibility: visible;
    }
  }
}
.places{
  margin-top: 40px;
  .item{
    &__title{
      border-bottom: 1px solid #9e9475;
      width: fit-content;
    }
    &__description{
      color: #4c4c4c;
      a{
        color: #4c4c4c;
      }
    }
  }
  .team__item--main:nth-child(even){
    .item__title{
      align-self: flex-end;
    }
  }
}

.item__photo--to-gallery{
  display: block; 
  position: relative;
  overflow: hidden;
  &:after{
    content: '';
    background: url('../images/glass_plus.png') no-repeat;
    bottom: 13px;
    height: 30px;
    position: absolute;
    right: 13px;
    width: 30px;
  }
  img{
    display: block;
    width: 100%;
  }
}
.modal-title{
  text-transform: uppercase;
  small{
    display: block;
    color: #1a3204;
    @include hind(32px);
  }
}

.presentation{
  &-card{
    margin-left: -10px;
    position: relative;
    &--reverse{
      display: flex;
      flex-direction: row-reverse;
      margin-left: 0;
      margin-right: -10px;
      .presentation__box{
        left: 25%;
      }
    }
  }
  &__image{}
  &__box{
    background-color: #f0f0f0;
    bottom: -30%;
    left: 38%;
    max-width: 580px;
    position: absolute;
    width: fit-content;
    p{
      color: #4c4c4c;
      @include lato(18px);
      margin-left: 40px;
      margin-right: 40px;
      margin-top: 20px;
      &:first-child{
        margin-top: 74px
      }
      &:last-child{
        margin-bottom: 80px;
      }
    }
    ol{
      li{
        list-style-type: disc;
        color: #4c4c4c;
        @include lato(18px);
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 20px;
        &:first-child{
          margin-top: 74px
        }
        &:last-child{
          margin-bottom: 80px;
        }
      }
    }
  }
  &__title{
    align-items: center;
    color: #202918;
    display: flex;
    @include hindBold(38px);
    justify-content: center;
    img{
      margin-lefT: 13px;
    }
  }
  &__list{
    display: flex;
    flex-wrap: wrap;
    margin: 60px auto;
    padding: 0;
    position: relative;
    width: 50%;
    li{
      color: #4c4c4c;
      display: block;
      @include lato(18px);
      list-style: none;
      margin-bottom: 20px;
      position: relative;
      text-indent: 20px;
      width: 50%;
      &:before{
        background-color: #9e9475;
        border-radius: 50%;
        content: '';
        display: block;
        height: 5px;
        left: 7px;
        position: absolute;
        top: 10px;
        width: 5px;
      }
    }
  }
}

.temporada { text-align: center; padding: 40px 0 80px}
.temporada ul { display: inline-block; border-top: solid 1px #9e9475; border-left: solid 1px #9e9475; padding: 0; margin: 0;}
.temporada ul li { list-style: none; float: left; height: 60px; display: inline-block; padding: 0; margin: 0;}
.temporada ul li .mes { display: block; line-height: 30px; border-bottom: solid 1px #9e9475;}
.temporada ul li .prod { background-color: #f7f7f4; display: block; height: 30px; line-height: 30px; border-bottom: solid 1px #9e9475; border-right: solid 1px #9e9475;}

.temporada{
  margin-top: 250px;
  &__title{
    color: #202918;
    @include hindBold(38px);
    margin-bottom: 23px;
  }
  &__table{
    background: #f7f7f4;
    border-bottom: solid 1px #9e9475;
    li{
      border-right: solid 1px #9e9475;
      min-height: 100px;
    }
    .mes{
      color: #4c4c4c;
      background-color: #e6e3db;
      @include lato(18px);
      padding: 10px;
    }
    img{
      display: block;
      margin: auto;
      transform: translateY(8px);
    }
  }
}
.map__holder{
  margin-bottom: 128px;
  margin-top: 60px;
  img{}
}
.beneficios{
  &__title{
    background: url('../images/linea.jpg') no-repeat center bottom;;
    color: #202918;
    @include hindBold(38px);
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
  }
}
.post{
  &__head{
    margin: 0;
    padding: 23px 20px 0; 
    text-align: left; 
  }
  &__image{
    img{
      width: 100%;
    }
  }
  &__title{
    color: #1a3204;
    @include itemTitle(24px,19px, 5px);
    margin: 0;
    text-transform: unset;
  }
  &__subtitle{
    color: #1a3204;
    @include latoBold(20px);
    margin: 0;
  }
  &__content{
    @include lato(18px);
    padding: 20px 20px 30px;
  }
  &__read-more{
    color: #9e9475;
    @include latoBold(18px);
    font-style: italic;
    &:hover,&:focus,&:active{
      color: #9e9475;
      text-decoration: underline;
    }
  }
  &__card{
    background: url('../images/diagonal_noticias.svg') left bottom no-repeat #f0f0f0;
    background-size: 80%;
    margin-bottom: 60px;
    &--hightlight{
      margin-bottom: 40px;
      .post{
        &__content{
          padding: 55px 60px 60px;
        }
        &__title{
          font-size: 32px;
        }
        &__subtitle{
          font-size: 20px;
        }
        &__head{
          padding: 60px 30px 0; 
        }
        &__content{
          padding-top: 60px;
        }
      }
    }
  }
}
.section--small{
  max-width: 940px; margin-left: auto; margin-right: auto;
}
.button--lazyLoad{
  margin: auto;
}
.column-wrapper{
  width: 100%;
  &:first-child{
    margin-bottom: 40px;
  }
}
.items_mod{
  .modulo{
    h3{
      z-index: 1;
    }
    a{
      position: relative;
      &:after{
        opacity: 0;
        transition: all .3s ease-out;
        content: '';
      }
      &:hover{
        display: block;
        height: fit-content;
        position: relative;
        &:after{
          display: block;
          @include diagonalShadow();
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
        }
      }
    }
  }
}
.como_funciona{
  .title-section{
    color: #4c4c4c;
    h3{
      color: #1a3204;
      @include itemTitle(28px, 19px, 8px);
      margin-bottom: 30px;
    }
    .data{
      padding: 26px 40px;
      color: #1a3204;
      margin-bottom: 60px;
      margin-top: 30px;
    }
    h4{
      @include lato(24px);
      max-width: 70%;
      margin: auto;
    }
  }
}

.related__container{
  .mod_noticia {
    background: url('../images/diagonal_noticias.svg') left bottom no-repeat #f0f0f0; 
    margin: 0 0 40px 0; 
    background-size: 80%;
    .img{
      img{
        width: 100%;
      }
    }
    .int { 
      padding: 40px 20px;
      font-size: 18px;
      span {
        padding: 5px 35px 0 0; 
        display: inline;
        background: url('../images/bullet.svg') right bottom no-repeat;
        background-size: 19px;
      }
        h3 {
        @include hindBold(24px); 
        display: inline; 
        margin: 0; 
        padding: 0; 
        color: #1a3204; 
        line-height: 24px
      }
      .related-item__readMore {
        font-weight: 700; 
        font-style: italic; 
        color: #9e9475;
      }
    }
  }
}


.process-app{
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  .sidebar__left {
    align-items: center;
    background-color: #0d1a02;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 162px;
    .swiper-pagination{
      display: flex;
      flex-direction: column;
      padding: 0px 0px 27px;
      position: relative;
      &:before{
        background-color: #797558;
        content: '';
        display: block;
        height: 100%; 
        left: -8.5px;
        position: absolute;
        width: 1px;
      }
      &-bullet{
        background: transparent;
        border-radius: 0;
        color: #646347;
        height: fit-content;
        margin-top: 12px;
        width: fit-content;
        opacity: 1;
        &:before{
          content: '';
          background: #646347;
          border-radius: 100%;
          display: inline-block;
          height: 8px;
          transform: translateX(-12px);
          width: 8px;
        }
        &:nth-child(6), &:first-child, &:nth-child(11){
          @include hindBold(20px);
          left: -7px;
          margin: 30px 0 8px;
          pointer-events: none;
          position: relative;
          &:before{
            border: 2px solid #fff;
            height: 15px;
            transform: translateX(-8px);
            width: 15px;
          }
        }
        &-active{
          color: #9e9475;
          &:before{
            background: #9e9475;
          }
        }
      }
    }
    .header-container{
      h1,h2{
        color: #fff;
        @include itemTitle(30px, 22px, 7px);
        text-align: center;
      }
      .breadcrumbs{
        ul{
          display: flex;
          padding: 0;
          li{
            color: #787e78;
            display: block;
            @include lato(18px);
            font-style: italic;
            a, span{
              display: inline-block;
              margin: 0 5px;
            }
            a{
              color: #787e78;
              &:hover,&:focus,&:active{
                text-decoration: underline;
              }
            }
            span{
              color: #8e8364;
            }
          }
        }
      }
    }
  }
  .slide-control {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    position: relative;
    &:after, &:before{
      content: '';
      display: block;
      height: 30px;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: 11;
    }
    &:after{
      background-image: linear-gradient(to top, rgba(13,26,2,1) 0%,rgba(13,26,2,0) 100%) ;
      bottom: 0;
    }
    &:before{
      background-image: linear-gradient(to bottom, rgba(13,26,2,1) 0%,rgba(13,26,2,0) 100%) ;
    }
  }
  .slide-container {
    align-items: center;
    background-image: url('../images/proceso_slider_bg.jpg');
    background-size: cover;
    display: flex;
    flex-grow: 3;
  }
  .swiper-slide-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    .timeline-title{
      color: #1a3204;
      @include hindBold(32px);
      margin-bottom: 50px;
      position: relative;
      &:after{
        content: '';
        background-color: #1a3204;
        bottom: 0;
        height: 1px;
        position: absolute;
        right: 0;
        width: 50px;
      }
    }
  }
}
.timeline .swiper-pagination::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}
.timeline .swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -32.5px;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #d4a024;
  -webkit-transform: scale(0);
          transform: scale(0);
  transition: .2s;
}
.timeline .swiper-pagination-bullet-active {
  color: #d4a024;
}
.timeline .swiper-pagination-bullet-active::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.timeline .swiper-container {
  height: 700px;
  width: 100%;
  position: relative;
}
.timeline .swiper-wrapper {
  transition: 2s cubic-bezier(0.68, -0.4, 0.27, 1.34) 0.2s;
}
.timeline .swiper-slide {
  position: relative;
  color: #fff;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.timeline .swiper-slide::after {
  content: "";
  position: absolute;
  z-index: 1;
  right: -115%;
  bottom: -10%;
  width: 100%;
  height: 100%;
 
}
.timeline 
.timeline .swiper-slide .timeline-year {
  display: block;
  font-style: italic;
  font-size: 42px;
  margin-bottom: 50px;
  -webkit-transform: translate3d(20px, 0, 0);
          transform: translate3d(20px, 0, 0);
  color: #d4a024;
  font-weight: 300;
  opacity: 0;
  transition: .2s ease .4s;
}

.timeline .swiper-slide .timeline-text {
  line-height: 1.5;
  opacity: 0;
  -webkit-transform: translate3d(20px, 0, 0);
          transform: translate3d(20px, 0, 0);
  transition: .2s ease .6s;
}
.timeline .swiper-slide-active .timeline-year {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  transition: .4s ease 1.6s;
}
.timeline .swiper-slide-active .timeline-text {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  transition: .4s ease 1.8s;
}
.timeline .swiper-pagination {
  left: 15% !important;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  z-index: 1;
}
.timeline .swiper-button-next,
.timeline .swiper-button-prev {
  background-size: 20px 20px;
  top: 15%;
  width: 20px;
  height: 20px;
  margin-top: 0;
  z-index: 2;
  transition: .2s;
}
.timeline .swiper-button-prev {
  left: 8%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23d4a024'%2F%3E%3C%2Fsvg%3E");
}
.timeline .swiper-button-prev:hover {
  -webkit-transform: translateX(-3px);
          transform: translateX(-3px);
}
.timeline .swiper-button-next {
  right: 8%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23d4a024'%2F%3E%3C%2Fsvg%3E");
}
.timeline .swiper-button-next:hover {
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
}
@media screen and (min-width: 768px) {
  .timeline .swiper-slide::after {
    
  }
  .timeline .swiper-slide .timeline-year {
    margin-bottom: 0;
    font-size: 32px;
  }
  .timeline .swiper-pagination {
    display: flex;
  }
  .timeline .swiper-button-prev {
    top: 15%;
    left: auto;
    right: 15%;
    -webkit-transform: rotate(90deg) translate(0, 10px);
            transform: rotate(90deg) translate(0, 10px);
  }
  .timeline .swiper-button-prev:hover {
    -webkit-transform: rotate(90deg) translate(-3px, 10px);
            transform: rotate(90deg) translate(-3px, 10px);
  }
  .timeline .swiper-button-next {
    top: auto;
    bottom: 15%;
    right: 15%;
    -webkit-transform: rotate(90deg) translate(0, 10px);
            transform: rotate(90deg) translate(0, 10px);
  }
  .timeline .swiper-button-next:hover {
    -webkit-transform: rotate(90deg) translate(3px, 10px);
            transform: rotate(90deg) translate(3px, 10px);
  }
}

#preload{
  align-items: center;
  background-color: #001300;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: fixed;
  width: 100vw;
  z-index: 9999;
  img{
    max-width: 270px;
  }
}
body.loading{
  overflow: hidden;
}
.preload-balls {
  display: flex;
  justify-content: center;
  width: 100px;
  margin: 20px auto 0;
  &__dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    float: left;
    margin: 0 5px;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-animation: fx 1000ms ease infinite 0ms;
    animation: fx 1000ms ease infinite 0ms;
    background-color: #fff;
    &:nth-child(2) {
      -webkit-animation: fx 1000ms ease infinite 300ms;
      animation: fx 1000ms ease infinite 300ms;
    }
    &:nth-child(3) {
      -webkit-animation: fx 1000ms ease infinite 600ms;
      animation: fx 1000ms ease infinite 600ms;
    }
  }

}

@-webkit-keyframes fx {
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fx {
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}