.outside-menu{
	display: none;
}
@media screen and (min-width: 1024px) {
  .timeline .swiper-slide::after {
    
  }
  .timeline .swiper-slide-content {
    right: 25%;
  }
}
@media (max-width:767px){
	
	.top .logo {width: 100px;}
	#prod .mod { display: block;}
	#footer .logo { width: 100px;}
	#mods_certi .mod_certi .img { float: none; width: 100%; padding:20px!important; text-align: center!important}
	#mods_certi .mod_certi .img img { margin: 0 auto}
	#mods_certi .mod_certi .img.pull-right { float: none; padding: 20px!important} 
	#mods_certi .mod_certi .txt { float: none; width: 100%;position: relative; padding: 20px}
}

@include respond-to(tablet){
	.banner_int .txt h2{
		font-size: 42px;
	}
	.intern-nav__text, .intern-nav__link{
		font-size: 17px;
	}
	.presentation__box{
		top: 10%;
		width: 80%;
		max-width: unset;
		left: 10%;
		height: fit-content;
	}
	.presentation-card--reverse{
		.presentation__box{
			left: 10%;
		}
		.presentation__box ol li{
			font-size: 15px;
		}
	}
}
@include respond-to(maxMobile){
	.float-menu div.sub-menu{
		width: 100vw;
		ul.sub-menu>li{
			text-indent: 30px;
			a{
				font-size: 17px;
			}
			&.outside-menu{
				a{
					font-size: 15px;
					opacity: 0.7;
				}
			}
		}
	}
	.searchbox{
		padding: 0 30px;
	}
	.dimmer-open .close-menu{
		right: 10px;
	}
	.outside-menu{
		display: block;
	}
	.top-header .top .otro_menu ul{
		li{
			display: none;
			&:last-child{
				display: block;
			}
		}
	}
	.top-header .top .logo {
		width: 100px;
	}
	.top-header .close-dimmer{
		transform: translateY(10px);
	}
	.section-title > h2{
		width: 100%;
		@include itemTitle(32px, 20px, 8px);
		margin-right: 0;
	}
	.section-title > h4{
		font-size: 16px;
	}
	.certificates .certificate{
		flex-direction: column;
		position: relative;
		
		&__img{
			max-width: 80px;
			position: absolute;
  		right: 20px;
			img{
				display: block;
				width: 100%;
			}
		}
		&:nth-child(even){
			flex-direction: column;
			.certificate__img{
				right: unset;
				left: 20px;
			}
		}
		&__title{
			min-height: 60px;
		}
	}
	.section .cherry-pack{
		left: 0;
		img{
			display: block;
			width: 100%;
		}
	}
	.carousel__title{
		bottom: 20px;
		font-size: 16px;
	}
	#plum-pack{
		top: 140px;
		position: relative;
		left: -40px;
		display: block;
		.cherry-pack{
			&__item--1{
				display: none
			}
		}
	}
	.ciruelas {
		.col-md-6{
			clear: both;
		}
		.button__cta{
			margin-bottom: 30px;
		}
	}
	.formulario__section:nth-child(2){
		border-left: 0;
		padding-left: 0;
	}
	.bajada{
		margin-top: 30px;
	}
	.galeria ul{
		display: flex;
		flex-wrap: wrap;
		li{
			margin: 0;
			padding: 15px;
			list-style: none;
			float: none;
			width: 50%;
			img{
				display: block;
				height: auto;
				max-width: 100%;
			}
		}
	}
	.products__item {
		.item__wrapper{
			width: 100%;
		}
	}
	.products article.products__item .item__description{
		background: #f0f0f0;
		padding: 30px;
		position: absolute;
		width: 100%;
	}
	.intern-nav__wrapper{
		flex-wrap: wrap;
		.intern-nav__item{
			margin-top: 5px;
			width: 33.3%;
			&:nth-child(4){
				border-left: 0;
			}
		}
	}
	.formulario .oficinas__img{
		width: 100%;
	}
	.image-compound{
		margin-bottom: 300px;
		width: 100%;
	}
	.mod_planta .recuadro{
		align-items: center;
		display: flex;
		flex-direction: column;
		.txt{
			margin: 0;
			text-align: center;
			width: 100%;
		}
		.boton{
			margin-bottom: 30px;
			a {
				margin-left: 0;
			}
		}
	}
	.team__item{
		margin-bottom: 40px;
		&--main{
			img{
				width: 100%;
			}
		}
		.img{
			margin-bottom: 20px;
		}
	}
	.presentation__title{
		img{
			display: none;
		}
	}
	.presentation__list{
		width: 90%;
		li{
			width: 50%;
		}
	}
	.temporada ul {
		background-color: #fff;
		border-top: 0;
		border-left: 0;
		border-bottom: 0;
		li{
			background-color: #f7f7f4;
			border: 1px solid #9e9475;
			margin: 2px;
		}
	}
	.presentation__image{
		position: absolute;
		width: 100%;;
	}
	.presentation__box{
		position: relative;
		left: 0px !important;
		width: 90%;
		margin: auto;
		top: 20px;
		&>h2{
			padding-top: 20px;
		}
	}
	.image-compound__textbox{
		right: 0;
	}
	.image-compound:nth-child(even) .image-compound__textbox {
		right: auto;
		left: 0;
	}
	#productores_mod a.acceso{
		width: 100%;
	}
	.mod_planta h2 span{
		font-size: 46px;
		letter-spacing: -3px;
		padding: 0;
	}
	.cuadros .mod_cuadros .txt .centrado .texto span h4{
		word-break: break-word;
	}
	.image-compound--no-bg:nth-child(2) .image-compound__textbox{
		left: 0 !important;
		width: 100%;
	}
	.image-compound__image-container{
		padding-right: 0;
	}
	.image-compound--no-bg .image-compound__textbox{
		right: 0;
	}
	.career{
		padding: 45px 20px;
		.intern-nav{
			display: none;
		}
		.form-cols--two .form-group{
			width: 100%;
		}
	}
	.process-app{
		flex-direction: column;
		.swiper-controls{
			display: block;
			position: relative;
			top: 13px;
		}
		.swiper-slide-content{
			img{
				width: 100%;
			}
		}
		.swiper-slide-content{
			justify-content: flex-start;
		}
	}
	.process-app .slide-control{
		display: none;
	}
	.timeline .swiper-container {
		height: 420px;
		overflow: hidden;
	}
	.process-app .sidebar__left .header-container .breadcrumbs ul li{
		font-size: 15px;
	}
	.timeline .swiper-button-prev{left: 2%;}
	.timeline .swiper-button-next{right: 2%;}
	.timeline .swiper-button-next, .timeline .swiper-button-prev{
		position: absolute;
	}
	#prod .mod .col-md-6{
		clear: both;
	}
	.history .swiper-container{
		flex-direction: column;
	}
	.history .swiper-pagination-years{
		flex-direction: row;
		flex-wrap: wrap;
		padding: 120px 40px 30px;
	}
	.history .swiper-pagination-years .swiper-pagination-bullet{
		width: 25%;
		&:last-child{
			&:after{
				display: none;
			}
		}
	}
	.history .swiper-wrapper{
		padding: 0 20px 20px;
		margin-left: 0;
		max-height: 300px;
	}
	.history__item{
		flex-direction: column;
	}
	.history__item h2{
		font-size: 40px;
	}
	.history__item p{
		font-size: 15px;
	}
	.history__item img{
		max-width: 300px;
  	align-self: flex-start;
	}
	.history .swiper-controls{
		border-right: 0;
		&:after,&:before{
			display: none;
		}
	}
	.history .swiper-pagination-years .swiper-pagination-bullet:after{
		right: 20px;
	}
	.history-page-header {
		top: 10px;
		left: 150px;
	}
	.carousel-home__wrapper .owl-buttons__container{
		display: none;
	}
}