#portada_int{
  .page_title{
    align-items: center;
    bottom: 50px;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 1;
    .carousel__title{
      @include hindBold(52px);
      text-transform: uppercase;
    }
  }
  &:after{
    z-index: 2;
  }
}